#body {
    margin: 0;
    padding: 0;
}
#underline {
    width: 100%;           
    height: 2px;           
    background-color: #000; 
    border: none; 
    margin-left: 0px         
}
.sez{
    border-style: solid;
    border-width: 2px;
    margin: 20px;
    padding: 20px;
}
    